.container {
  background-color: #EEE;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica Neue, Helvetica, Arial, Calibri, sans-serif;
  justify-content: center;
}

.text-center {
  padding-bottom: 0;
  margin-bottom: 0;
}

// .content {
//   margin-top: 0;
//   margin-bottom: 0;
//   display: flex;
// }

.chessboard {
  padding: 20px 20px 20px 30px;
  float: left;
  margin: 10px 0 10px 10px;
}

.chatterbox {
  float: left;
  padding: 20px 20px 20px 70px;
  margin: 10px;
}

.footer {
  text-align: center;
  clear: both;
}

.logout {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.turn-no {
  display: inline-block;
  height: 34px;
  background-color: #d9534f;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #bcbdc0;
  width: auto;
  position: relative;
  padding: 5px 10px;
  margin-left: 10px;
  width: 110px;
}

.turn-yes {
  display: inline-block;
  height: 34px;
  background-color: #5cb85c;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #bcbdc0;
  width: auto;
  position: relative;
  padding: 5px 10px;
  margin-left: 10px;
  width: 110px;
}
