.start {
  margin-right: 10px;
  background-color: #428bca;
  color: #fff;
  width: 200px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid #428bca;
  margin-top: 0;
  margin-bottom: 0;
  animation-name: flash, grow;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.start:hover {
  color: #428bca;
  background-color: #fff;
}

.turn-no {
  display: inline-block;
  height: 34px;
  background-color: #B20000;
  border: 2px solid #B20000;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 5px 10px;
  margin-left: 10px;
  width: 110px;
  animation-name: glowing-no;
  animation-duration: 1s;
	animation-timing-function: 1500ms;
	animation-iteration-count: infinite;
}

.turn-yes {
  display: inline-block;
  height: 34px;
  background-color: #5cb85c;
  border: 2px solid #5cb85c;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 5px 10px;
  margin-left: 10px;
  width: 110px;
  animation-name: glowing-yes;
  animation-duration: 1s;
	animation-timing-function: 1500ms;
	animation-iteration-count: infinite;
}

.picking-container {
  margin-left: 55px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.pick-white {
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #FFF;
  width: 200px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid #FFF;
  line-height: 5px;
}

.pick-black {
  margin-left: 20px;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background-color: #000000;
  width: 200px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid #000000;
  line-height: 5px;
}

.pick-white:hover {
  animation-name: flash, grow;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.pick-black:hover {
  animation-name: flash, grow;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.btn:focus,.btn:active {
  outline: none !important;
}

button:focus {
  outline: none;
}

@keyframes flash {
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes flash {
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
  100% { opacity: 1.0; }
}

@-moz-keyframes flash {
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
  100% { opacity: 1.0; }
}

@keyframes grow {
  0% {
    opacity: 0.5;
    transform: scale(0.9, 0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.9, 0.9);
  }
}

@keyframes glowing-no {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing-yes {
  0% { background-color: #5cb85c; box-shadow: 0 0 3px #5cb85c; }
  50% { background-color: #70ff00; box-shadow: 0 0 40px #70ff00; }
  100% { background-color: #5cb85c; box-shadow: 0 0 3px #5cb85c; }
}
