.navigation {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.inputid {
  width: 400px;
}

.well {
  background-color: #ccc;
}

.profile {
  width: 400px;
  margin-top: 20px;
}

.image {
  padding-bottom: 10px;
}

.col-centered {
  padding-top: 20px;
  float: none;
  margin-left: 170px;
}

.footer {
  padding: 10px;
  text-align: center;
  clear: both;
}
