.navigation {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
}

.inputid {
  width: 400px;
}

.well {
  background-color: #ccc;
}

.profile {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 0;
}

.image {
  padding-bottom: 10px;
}

.col-centered {
  padding-top: 20px;
  float: none;
  margin-left: 170px;
}

.footer {
  text-align: center;
  clear: both;
}

.join {
  white-space: nowrap;
  width: auto;
}

.warning {
  margin-bottom: 10px;
  color: #ff0000;
}
